@{
    ViewData["Title"] = "All Posts";
    bool liked = Model.UserLikes.Any(ul => ul.UserId == Context.Session.GetInt32("UserId"));
}

@model Post

<div class="rounded shadow-primary p-3 mb-3 text-center border border-light glow">
    <h3>Topic : @Model.Topic | Posted At: @Model.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</h3>
    <p>Posted By: @Model.Creator.FirstName @Model.Creator.LastName</p>
    <p>Body : @Model.Body</p>
    <img width="400px" src="@Model.ImgURL" alt="@Model.Topic">

    @if(Model.UserId == Context.Session.GetInt32("UserId")) {
        <div class="d-flex justify-content-center gap-1 mt-2">
            <a class="btn btn-warning" asp-action="EditPost" asp-controller="Post" asp-route-postId="@Model.PostId">Edit
                Post</a>

            <form asp-action="DeletePost" asp-route-postId="@Model.PostId" method="post">
                <button class="btn btn-danger">Delete Post</button>
            </form>
            <form asp-controller="Post" asp-action="ToggleLike" asp-route-postId="@Model.PostId">
                <button class="btn btn-info">@(liked ? "Unlike" : "Like")</button>
            </form>
        </div>
    }

</div>

<p class="text-center"> Total Likes: @Model.UserLikes.Count</p>

<div class="d-flex justify-content-center align-items-top mt-3">
    <ul>
        @foreach (UserPostLike upl in Model.UserLikes) {
            <li>@upl.LikedBy?.FirstName @upl.LikedBy?.LastName</li>
        }
    </ul>
</div>

@await Html.PartialAsync("_NewComment", new UserPostComment(){PostId = Model.PostId})

@await Html.PartialAsync("_PostComments", Model.UserComments)