@model List<UserPostComment>


<div class="p-3 m-3 text-center">
    <h3>Comments: </h3>

    @foreach (UserPostComment upc in Model.OrderByDescending(upc => upc.CreatedAt)) {
        bool IsOwnComment = upc.UserId == Context.Session.GetInt32("UserId");

        <div class="border m-3 p-3">
            <p>@upc.Commentor?.FirstName @upc.Commentor?.LastName said: @upc.Body</p>
            <p>@upc.CreatedAt</p>
            @if (IsOwnComment) {
                <form asp-controller="Comment" asp-action="DeleteComment" asp-route-commentId="@upc.UserPostCommentId" method="post">
                    <button class="btn btn-danger">Delete Comment</button>
                </form>
            }
        </div>
    }
</div>